@import "reset-css.scss";
@import "fonts-import.scss";

* {
  transition: 0.8s;
}

body {
  font-family: Open Sans;
  background-color: #252525;
  color: white;
}

.horizontalLine {
  width: 80%;
  height: 1px;
  background-color: #222;
}
