.publicationCard {
  display: flex;
  flex-direction: column;
  background: $publicationCardColor;
  padding: 16px 16px;
  border: 1px solid #202020;
  border-radius: 6px;
  max-width: 83vw;
  margin-bottom: 32px;
  header {
    img {
      width: $pfpWidthMobile;
      height: $pfpHeightMobile;
      object-fit: cover;
      border-radius: 100%;
    }
    img:hover {
      filter: drop-shadow(0.6rem 0.6rem 0.75rem #131313);
    }
    .authorUsername {
      margin-top: 8px;
      color: #a5a3a3;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
    }
    .publicationDate {
      margin-top: 32px;
      font-size: 14px;
      cursor: default;
    }
    .publicationHeaderContent {
      display: flex;
      justify-content: space-between;
    }
  }
  .lineContainerFixer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  main {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .publicationOrn {
    width: 250px;
  }
  .publicationOrn:hover {
    path {
      stroke: rgb(255, 255, 255);
    }
  }
  .publicationFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    border-radius: 16px;
    padding: 16px;
    background: #464646;
    height: 30px;
    width: 95%;
    margin-left: 50%;
    transform: translate(-50%);
    .publicationControl {
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2px 8px;
      border-radius: 6px;
      span {
        font-size: 14px;
      }
      svg {
        margin-top: 8px;
        width: 32px;
      }
    }
    .publicationControl:hover {
      background-color: rgb(43, 42, 42);
    }
    .publicationControl:active {
      background-color: rgb(15, 15, 15);
    }
  }
  .publicationFooter:hover {
    box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.25);
  }
}

.publicationCard:hover {
  box-shadow: 16px -16px 0px 0px #383838;
}
