.registerContainer {
  margin-top: $actualHeaderHeight + 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
  }
  .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: $publicationCardColor;
    padding: 32px;
    .registerInputBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 32px;
      p {
        font-size: 14px;
        margin-bottom: 4px;
      }
      input {
        border: none;
        background-color: #d9d9d9;
        width: 95%;
        text-align: center;
        height: 30px;
        font-size: 15px;
      }
      input:hover {
        background-color: #e7e7e7;
      }
      input:focus {
        background-color: white;
        outline: 1.3px solid rgb(0, 0, 0);
      }
    }

    .birthdayContainer {
      width: 100%;
      display: flex;
      p {
        margin-left: 4.5%;
        
      }
      .selectsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        select {
          margin-top: 8px;
          background-color: #d9d9d9;
          //margin-left: 8px;
          width: 90%;
          height: 30px;
          border: none;
          cursor: pointer;
        }
      }

      select:hover {
        background-color: white;
      }
    }

    .registerControls {
      display: flex;
      margin-top: 32px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .registerBtn {
        border: 1px solid black;
        background-color: transparent;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-size: 22px;
        cursor: pointer;
      }
      .registerBtn:hover {
        border-color: white;
      }

      a {
        margin-top: 16px;
        color: white;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .termsOfServiceContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .registerTerms {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 32px;
          width: 100%;
          color: rgb(146, 146, 146);
        }
      }
      .termsOfServiceContainer:hover {
        .registerTerms {
          color: white;
        }
        .horizontalLine {
          background-color: white;
        }
      }
    }
  }
}
