.registerContainer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
  }
  .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: $publicationCardColor;
    padding: 32px;
    .registerInputBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
      p {
        font-size: 14px;
        margin-bottom: 4px;
        margin-right: 20%;
      }

      input {
        border: none;
        background-color: #d9d9d9;
        width: 25%;
        text-align: center;
        height: 30px;
        font-size: 15px;
      }
      input:focus {
        background-color: #e7e7e7;
        outline: 1.3px solid rgb(0, 0, 0);
      }
    }

    .birthdayContainer {
      width: 100%;
      select {
        background-color: #d9d9d9;
        margin-left: 8px;
        width: 100px;
        height: 30px;
        border: none;
      }
    }

    .registerControls {
      display: flex;
      margin-top: 32px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .registerBtn {
        border: 1px solid black;
        background-color: transparent;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-size: 22px;
      }
      a {
        margin-top: 16px;
        color: white;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .registerTerms {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        width: 100%;
        color: rgb(146, 146, 146);
      }
    }
  }
}
