//Header Vars
$headerHeightDesktop: 90px;
$actualHeaderHeight: $headerHeightDesktop;

$backgroundColor: #252525;

//Publication-Card-Vars
$publicationCardColor: #383838;
$publicationMaxWidthDesktop: 50vw;

$pfpMaxWidthDesktop: 80px;
$pfpMaxHeightDesktop: 80px;
