@import "globals.scss";
@import "var.scss";
@import "header.scss";
@import "header-rules";
@import "publication-card";
@import "home-page";
@import "login.scss";
@import "register.scss";
@import "modal.scss";
@import "404";
@import "responsiviness";
